<% layout("layouts/boilerplate") %>
<body>
    <h3>All Applications</h3>
    <form method="GET" action="/applications/new">
    </form>
    <ul>
        <% for(let application of allApplications) { %>
            <li><a href="/applications/<%= application._id %>"> <%= application.name %> </a></li>
        <% } %>
    </ul>
</body>
</html>

